* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif; 
    background-color: rgba(30,45,59,255);
}

header {
    width: 100%;
    height: 70px;
    padding: 0 30px;
    background-color: rgba(46,58,70,255);
}

header img {
    height: 50px;
    margin-top: 10px;
}

header .genre_filter {
    float: right;
    margin-top: 15px;
}

.genre_filter select {
    padding: 10px 0;
    padding-right: 5px;
    color: lightgrey;
    border-radius: 3px;
    background-color: rgba(30,45,59,255)
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
}

.disc_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 250px;
    padding: 20px;
    margin: 10px 20px;
    height: 420px;
    text-align: center;
    border-radius: 3px;
    background: rgba(46,58,70,255);
}

.disc_item .cover {
    width: 100%;
    border-radius: 3px;
}

.disc_item .title {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.disc_item .author, .disc_item .year, .disc_item .genre {
    margin-bottom: 5px;
    font-weight: bold;
    color: grey;
}

.disc_item .author {
    font-size: 18px;
}

.disc_item .year {
    font-size: 12px;
}

.disc_item .genre {
    margin-top: 10px;
}

